<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg">Name Translator</div>
    <div class="space-x-4">
      <%= link_to 'Home', root_path, class: 'text-gray-300 hover:text-white' %>
      <%= link_to 'Login', login_path, class: 'text-gray-300 hover:text-white' %>
    </div>
  </div>
</nav>
