<div class="header">
  <span class="header_logo">
    <%= link_to image_tag("S__22192130.jpg", height: "90"), root_path %>
  </span>
  <span class="header_right">
    <%= link_to 'ログイン', login_path, :class => 'header_button' %>
    <%= link_to '新規登録', new_user_path, :class => 'header_button' %>
  </span>
</div>