<div class="header">
  <span class="header_logo">
    <%= image_tag "S__22192130.jpg", height: "90" %>
  </span>
  <span class="header_right">
    <%= link_to 'ログアウト', logout_path, class: 'header_button', data: { turbo_method: :delete } %>
    <span class="header_button">変換する</span>
  </span>
</div>