<div class="header">
  <span class="header_logo">
    <%= image_tag "S__22192130.jpg", height: "90" %>
  </span>
  <span class="header_right">
    <span class="header_button">ログアウト</span>
    <span class="header_button">新規登録</span>
  </span>
</div>